/* custom css goes here */

/* Nmae: Dhruti patel 
 Student Id -- 300857555 
 Date - sep-14-2016
 app.js */

body {
    /* The image used */
    

    /* Set a specific height */
    height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    background-image: url('../Assests/prog.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

h4 {
    color: black;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

.displayPictureCenter {
    margin-left: 98px;
}

.logo {
    width: 20%;
    margin-top: 7px;
}

.button {
    margin-bottom: 10%;
}

.dhr {
    border-radius: 50%;
    width: 20%;
    margin-left: 18%;
    position: absolute;
}

.aa {
    border-radius: 50%;
    width: 20%;
    float: right;
    margin-right: 98px;
    position: absolute;
}

.bb {
    border-radius: 50%;
    width: 20%;
    margin-top: 15%;
    margin-left: 9%;
    margin-right: -3px;
    position: absolute;
}

.diver {
    margin-left: 25%;
}

.transparent {
    background-color: red;
    height: 125px;
    width: 125px;
    margin-top: 65%;
    margin-left: 15%;
    top: -3px;
}

.zooper {
    padding-top: 62%;
    top: 210px;
    float: left;
    margin-left: 19%;
}



.left {
    margin-left: -11%;
    border-radius: 50%;
    width: 50%;
}

.img {
    border-radius: 50%;
    width: 37%;
    margin-top: 0%;
    margin-left: 9%;
    margin-right: -3px;
    position: absolute;
}

.cc {
    border-radius: 50%;
    width: 35%;
    margin-top: 0%;
    margin-left: -95%;
    margin-right: -3px;
    position: absolute;
}

.kfc {
    border-radius: 30%;
    width: 40%;
    margin-top: 10%;
    margin-left: 9%;
    margin-right: -3px;
    position: absolute;
}

.sogood {
    border-radius: 30%;
    width: 48%;
    margin-top: 10%;
    margin-left: -107%;
    margin-right: -3px;
    position: absolute;
}

.sub {
    margin-left: 9%;
    border-radius: 50%;
    width: 50%;
}

.sub1 {
    border-radius: 22%;
    width: 43%;
    margin-top: 15%;
    margin-left: 9%;
    margin-right: -3px;
    position: absolute;
}

.sub2 {
    border-radius: 30%;
    width: 48%;
    margin-top: 10%;
    margin-left: -107%;
    margin-right: -3px;
    position: absolute;
}

.pro {
    border-radius:60%;
    margin-left: -27%;
    height: 1%;
    width: 30%;
    margin-top: 33%;
}
.ser{
     border-radius:60%;
    margin-left: 56%;
    width: 30%;
    height: 1%;
    margin-top: 33%;

 }
.bt{
    width:100%;
}
.kanaBana {
 background-color:rgba(192,192,190,0.3);
}